# Indexado y manejo de archivos CSV (5/29)

In [2]:
import pandas as pd
import numpy as np

In [3]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}
dict_data

{'edad': [10, 9, 13, 14, 12, 11, 12],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9]}

In [4]:
df =pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [5]:
df.to_csv('dict_data.csv', index=False ) # Creando archivo csv y borrar el index con False

In [6]:
df.read= pd.read_csv('./pandas/dict_data.csv')
df.read
df.read = pd.rea

<ipython-input-6-ff8acf416d7a>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.read= pd.read_csv('./pandas/dict_data.csv')

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [7]:
df.to_csv('./pandas/dict_data1.csv',sep = '|', index=False ) # Creando archivo csv y borrar el index con False, con sepadador "|"

In [8]:
df.read= pd.read_csv('./pandas/dict_data1.csv', sep = '|') #carga los elementos son el nuevo separador sep = '|'
df.read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

# Ventajas y desventajas de los formatos de importar y guardado (7/29)

In [9]:
dir_pandas = './pandas/{}'
dir_pandas

'./pandas/{}'

In [10]:
df.to_excel(dir_pandas.format('test.xlsx'), index=False, sheet_name='Hoja_uno') # Creando archivo csv y borrar el index con False y se le indica que la hora es la uno con sheet_name

In [11]:
df.to_json(dir_pandas.format('test.json'))

In [12]:
df.read= pd.read_json('./pandas/test.json') #carga los elementos son el nuevo
df.read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [13]:
df.to_pickle(dir_pandas.format('test.pkl'))

In [14]:
df.read= pd.read_pickle('./pandas/test.pkl') #carga los elementos son el nuevo
df.read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [15]:
df.to_parquet(dir_pandas.format('test.parquet', engine='pyarrow' )) # muy utilizado en big data perteneciente APACHE

ImportError: Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
A suitable version of pyarrow or fastparquet is required for parquet support.
Trying to import the above resulted in these errors:
 - Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.
 - Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.

In [52]:
df.to_hdf(dir_pandas.format('test.hdf'),key='data', format='table')

In [16]:
df.read= pd.read_hdf('./pandas/test.hdf') #carga los elementos son el nuevo
df.read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9